

body{
    background-color: bisque;
}

.border{
    border-radius: 16px;
}

p{
    color: blueviolet;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}